* {
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto Mono", "Space Grotesk", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  
}
.main-logo {
  width: 100%;
  padding: 10px;
  /*position: fixed;*/
  top: 0;
  width: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  z-index: 9999;
}
.icon{
    display: flex;
    margin: 10px;
}
.nav-link {
  width: 100%;
  display: flex;
    align-items: center;
  justify-content: space-around;
}
a,
li {

    list-style: none;
    text-decoration: none;
    color: #000;
    
    font: 1.2em sans-serif;
}
.leaflet-container {
			height: 500px;
			width: 100%;
        }
.service{
    text-align: center;
    font-weight: 600;
    font-size: 2em;
}